body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#EE6983, #FFC4C4);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 30px;
    object-fit: cover;
 }

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdnAxY3Y1Y3VwZmFjdDJ3c25tZTE0NXQ0ZDRhZGZlbHZpMWZwdGlwYyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/cqw80XStn460U/giphy.gif");
}

#gift-img-hot:hover {
    background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExanUya2RkeWxyeXVpaGpsOXY0amc1cWRrejhhdmxmMmhpZGt1amw2ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ohhwF34cGDoFFhRfy/giphy.gif");
}

#gift-img-genius:hover {
    background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZDd1NHd5Z3RjcXFrbm9zeTZ4czlrYTNlM3E4dGMweHdlcGh0aWc4MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/oNKLBehxbnoqY/giphy.gif");
}

#gift-img-badass:hover {
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExdXBhbm5jNXl6c3hzd2ZleGZmc2l0emE1ZnAyZmdoeDUxZnA1eXJ0NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/100QoSU9uTFU64/giphy.gif");
}

#gift-img-cheers:hover {
    background-image: url("https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmtyZ3M4MmN2dXl0dG9raG8ybDFlaDRhMWNsdjFtZ2p2OGM1dWZucyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/chHXLYIjYqQSSOZMvI/giphy.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

/* 
Add the footer paragraph according to the design. 
Configure the anchor tag to open the link in a new tab.
Forgotten how to do it? Google it! 

Link: 
https://scrimba.com/learn/htmlandcss

Text:
Want to create your own Birthday GIFt site? Take this HTML & CSS course.
*/